<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>王郁的小站</title>
        <meta name="description" content="王郁的个人主页"/>

        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0"/>
        <!-- Loading Bootstrap -->
        <link href="themes/flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet"/>
        <!-- Loading Flat UI -->
        <link href="themes/flat/dist/css/flat-ui.css" rel="stylesheet"/>

        <link rel="shortcut icon" href="themes/flat/dist/img/favicon.ico"/>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        <script src="themes/flat/dist/js/vendor/html5shiv.js"></script>
        <script src="themes/flat/dist/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h2>王郁</h2>
            <hr/>
            <p th:text ="'欢迎光临王郁的小站！'"/>
        </div>


        <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
        <script src="themes/flat/dist/js/vendor/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="themes/flat/dist/js/vendor/video.js"></script>
        <script src="themes/flat/dist/js/flat-ui.min.js"></script>
    </body>
</html>